<h1>Hi from Angular</h1>
<h3>A simple component</h3>
<my-component first="Stencil" last="from Angular"></my-component>
<h3>A Chip component</h3>
<stc-chip image="http://nodeframework.com/assets/img/js.png" text="image chip"></stc-chip>
<stc-chip image="" text="just a chip"></stc-chip>
<stc-chip image="" text="closeable chip" closeable></stc-chip>
<stc-chip image="http://nodeframework.com/assets/img/js.png" text="closeable chip" closeable></stc-chip>
<h3>A Signature capture component</h3>
<st-signature width="300" height="300" label="My Signature"></st-signature>
<!-- <router-outlet></router-outlet>  -->
